TURSO_DATABASE_URL=libsql://db-create-inv-stock-machinate01.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Nzg1NTQyODQsImlkIjoiMDE5ZTE5ZDktZmIwMS03YjNkLThlOTktNTc3NmEyOWE3MGNkIiwicmlkIjoiYjcxMTllYzctMzgxNC00Y2U2LTg2OGMtYzUwM2NiOTZhMzkzIn0.B88zJ0Ml-1aosEo5SR8PUFU2BPhQgcaN0tMV24EgNXE8HYJKkHmNqe2Js75M7ZVWeswL1_Gn7vZlfvpaxHHiDQ
JWT_SECRET=atlanta-medicare-inv-secret-2025
